body,p,form,input{
  margin: 0
}

#form{
  width: 500px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #555;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 10px #488a9e;
  -moz-box-shadow: 0px 1px 10px #488a9e;
  box-shadow: 0px 1px 10px #488a9e;
  border: solid #4eb4c2 1px;
  background: #fafafa;
}

#form th{
  width: 200px;
  font-size: 14px;
  font-weight:bold;
}
#form td{
  width: 300px;
  font-size: 14px;
  font-weight:bold;
}

table{
  border-collapse: collapse;
  font-size: 12px;
}

#form .form-title{
  font-family:Arial;
  text-align: center;
  color:#333;
  font-size:30px;
  padding-bottom: 6px;
  border-bottom: 2px solid #4eb4c2;
  margin-bottom: 20px;
}

.username,.password{
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"]{
  width: 350px;
  padding: 4px;
  font-size: 14px;
}

.button{
  text-align: right;
}
.button input{
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

#errorText{
  text-align: center;
}

form#confirm_field{
  border : 1px solid #ccc;
  border-radius : 7px;
}
